<div class="login-container">
  <div class="login-card">
      <div class="logo-container d-flex justify-content-center align-items-center">
          <img src="assets/images/logo.png" alt="Logo" class="text-center">
      </div>
      <h2>Inicio de Sesión</h2>
      <h3>Bienvenido</h3>
      <form class="login-form">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario" required>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary" >Inicia sesión</button>
          </div>
          <a href="#" class="forgot-password">Olvidaste tu contraseña?</a>
      </form>
  </div>
</div>
