<nav *ngIf="isJuezModule() || isCarDetailModule()">
  <div class="container mx-auto px-4 flex items-center justify-between pt-3">
    <!-- Logo y enlace a la página de inicio -->
    <a href="/juez" class="flex items-center">
      <img src="../assets/images/logo.png" alt="Syspol Logo" class="h-16">
      <span class="ml-2 text-xl">Syspol Infracciones</span>
    </a>
    <!-- Espacio flexible para expandir el contenido -->
    <div class="flex-grow"></div>
    <!-- Botón de avatar con menú desplegable -->
    <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex items-center text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 ml-4" type="button" aria-label="Toggle navigation">
      <mat-icon>person</mat-icon>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
      <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
        <div>Bonnie Green</div>
        <div class="font-medium truncate">nameflowbite.com</div>
      </div>
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
        </li>
      </ul>
      <div class="py-2">
        <a mat-list-item (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar sesíon</a>
      </div>
    </div>
  </div>
</nav>

<nav *ngIf="!isJuezModule() || !isCarDetailModule">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <!-- Logo a la izquierda -->
    <a href="/" class="container mx-auto px-4 flex items-center justify-center">
      <img src="../assets/images/logo.png" alt="Syspol Logo" class="h-16">
      <a href="/home">Syspol Infracciones</a> <!-- Tailwind no tiene una clase directa para el logo, ajusta la altura con h-8 según sea necesario -->
    </a>
    <!-- Texto centrado, ajusta el flex-grow para que ocupe el espacio disponible -->
    <div class="flex-grow text-center">
      <a href="/" class="text-white text-lg"></a>
    </div>
    <!-- Navegador Toggler a la derecha -->
    <button class="text-white" type="button" aria-label="Toggle navigation">
    </button>
    <!-- Collapsible content, keeps empty if no links are needed or fill as required -->
    <div class="hidden">
      <!-- Optionally you can add menu items here if needed -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>